# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [1]:
# '''
# Your Code
# '''
# 打開瀏覽器

from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='chromedriver')

browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

# 模擬使用者操作行為，選擇/點擊

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

# 取得資料，丟到 BeautifulSoup 解析
soup = BeautifulSoup(browser.page_source)

In [9]:
soup = BeautifulSoup(browser.page_source)
table = soup.find('table', class_='TABLE_G')
# print(table)

d = {}
air = ""
data = {}
flag = 0
for tr in table.find_all('tr'):
    td = tr.find_all('td')
    
    if len(td) == 0:
        continue
    if len(td) == 5:
        data = {}
        air =""
        air = td[0].getText()
        date = td[2].getText()
        value = td[3].getText()
        data[date] = value

    if len(td) == 3:
        date = td[0].getText()
        value = td[1].getText()
        if date[-2:] not in ["09","10","11","12"]: 
            data[date] = value
    
    if air == "SO2":
        d[air] = data
d

{'SO2': {'2018/01': '1.80',
  '2018/02': '1.90',
  '2018/03': '2.20',
  '2018/04': '2.30',
  '2018/05': '3.10',
  '2018/06': '2.70',
  '2018/07': '2.20',
  '2018/08': '2.40'}}

In [10]:
import pandas as pd
pd.DataFrame(d)

          SO2
2018/01  1.80
2018/02  1.90
2018/03  2.20
2018/04  2.30
2018/05  3.10
2018/06  2.70
2018/07  2.20
2018/08  2.40

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [11]:
# '''
# Your Code
# '''
for tr in table.find_all('tr'):
    td = tr.find_all('td')
    
    if len(td) == 0:
        continue
    if len(td) == 5:
        data = {}
        air =""
        air = td[0].getText()
        date = td[2].getText()
        value = td[3].getText()
        data[date] = value

    if len(td) == 3:
        date = td[0].getText()
        value = td[1].getText()
        if date[-2:] not in ["09","10","11","12"]: 
            data[date] = value
    
    if air in ["SO2","CO"]:
        d[air] = data

pd.DataFrame(d)

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30